NODE_ENV=development
HOST=127.0.0.1
PORT=4000
DATABASE_URL=postgresql://root@/etsy_oi?host=/var/run/postgresql
CLICKHOUSE_URL=http://localhost:8123
REDIS_URL=redis://localhost:6379/0
TEMPORAL_ADDRESS=localhost:7233
RAW_STORAGE_BUCKET=etsy-raw-dev
DEFAULT_WORKSPACE_ID=00000000-0000-0000-0000-000000000001
